body{
    background-image: url("image/wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
  audio:hover, audio:focus, audio:active:url("music/sound.mp3")
 
}

.wrapper:{
    width: 1170px;
    margin: 70px auto;
    background: #eee;
}
.sin-team{
    width: 28%;
    float: left;
    margin: 15px;
    box-shadow: 0 2px 20px rgba (0,0,0,0.8);
    padding: 15px;
    color: #fff;
    background: #262626;
    border-radius: 15px;
}
.sin-team img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin: 40px 20px 30px 0;
    border: 5px solid #fff;
    shape-outside:circle;
}
